<head>
  <title>PokerHands</title>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <p class="title">Judge Poker Hands</p>
    </div>
    <div class="contents">
      <%= form_tag("/home/check") do %>
        <!-- value=" @cards " -->
        <input class="form" name="cards" type="text" placeholder="H5 C5 D2 D1 H12" style="text-align: center;" value="<%=  %>">
        <input class="btn" type="submit" value="調べる">
      <% end %>
      <% if flash[:message] %>
        <div class="flash">
          <%= flash[:message] %>
        </div>
      <% end %>
    </div>
    <div class="footer">

    </div>
  </div>
</body>
